* {
	margin: 0;
	padding: 0;
    font-family: Century Gothic;
    box-sizing: content-box;
}

header {
	background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(../images/homepage-background.jpg);
	height: 15vh;
	background-size: cover;
	background-position: bottom;
}

header ul {
	float: right;
    list-style-type: none;
	padding-right: 10px;
	padding-left: 10px;
	padding-top: 5px;
    margin-right: 10px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto
}

header ul li {
	display: inline-block;
}

header ul li button {
	color: #FFF;
	border-top: 0.15rem transparent;
}

header ul li a {
	text-decoration: none;
	color: #FFF;
	padding: 0.625rem 3.125rem;
}

header ul li a:hover {
    animation: hover 100ms linear 0s 1 alternate forwards running;
}

@keyframes hover {
    to {
        background-color: #fff;
        color: #000;
    }
}

.logo img {
	float: left;
	max-width: 10rem;
	height: auto;
}

.main {
	display: flex;
	justify-content: center;
}

button {
	padding: 0;
	border: none;
	font: inherit;
	color: inherit;
	background-color: transparent;
	cursor: pointer;
}

main {
    margin: 1rem 0;
    width: 100%;
    text-align: center;
    color: #24009A;
    height: 35vh;
}

main .heading {
    font-size: 2rem;
}

main .instructions {
    padding-bottom: 0.2rem;
}
main form input, main form button {
    margin: 0.4rem 0;
    width: 35%;
    height: 2rem;
}

main form button {
    background-color: #24009A;
    color: #FFF;
    padding: 0.5rem 0;
    border-radius: 0.5rem;
}

@media (max-width: 920px) {
	header ul {
		padding-right: 0px;
		padding-left: 0px;
	}
}
@media (max-width: 920px) {
	header ul {
		margin-right: 0px;
	}
}

@media (max-width: 890px) {
	header .contact {
		display: none;
	}
}

@media (max-width: 725px) {
	header ul li a {
		padding-right: 1.5rem;
		padding-left: 1.5rem;
	}
}

@media (hover: none) {
	header ul li a:active {
        animation: hover 100ms linear 0s 1 alternate forwards running;
	}
}

@media (max-width: 570px) {
	.logo {
		display: none;
	}
    header ul {
        margin-top: 2rem;
    }
}
@media (max-width: 450px) {
    main form button {
        height: 1.5rem;
    }
}
@media (max-width: 410px) {
	header ul li a {
		padding-right: 0.5rem;
		padding-left: 0.5rem;
	}
}
@media (max-width: 315px) {
	header ul li a {
        font-size: 80%
	}
}
@media (max-width: 265px) {
	header ul li a {
		padding-right: 0.3rem;
		padding-left: 0.3rem;
	}
}
@media (max-width: 260px) {
    header {
        height: 20vh;
    }
    main {
        height: 70%;
    }
    footer {
        height: 10vh;
    }
}

@media (orientation: landscape) {
    @media (max-width: 735px) {
        header {
            height: 20vh;
        }
        main {
            height: 50%;
        }
    }
    @media (max-width: 325px) {
        header {
            height: 30vh;
        }
        main {
            height: 70%;
        }
    }
}
footer {
    height: 40.3vh;
    overflow: hidden;
	background-color: #24009A;
	color: #FFF;
	padding: 1rem 1rem;
	display: flex;
    justify-content: center;
    bottom: 0px;
}